.img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
h1, .contacts{
    color: white;
}
.form{
    background-color: rgba(148, 145, 167, 0.24);
}
.button{
    background-color: darkslateblue;
    color: white;
    width: 150px;
    height: 50px;
    margin: 10px;
}
.text{
    border: none;
    background-color: rgba(148, 145, 167, 0.24);
    border-bottom: 1px solid;
}
header{
    display:flex;
    gap: 50px;
    background-color: rgb(79, 24, 90) ;
    padding: 15px;
}
body{
    padding: 0;
    margin: 0;
}
.objective{
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.nyt{
    display:flex;
    

}
.time{
    display: flex;
    flex-direction: column;
    padding-left: 92px
}
main{
    padding: 0 50px;
}
.language{
    margin-top: 50px;
}

.ol{
    color: black;
}
.list{
    list-style: square;
    color: burlywood;
}
footer{
    text-align: center;
    background-color: rgb(79, 24, 90);
    padding: 5px;
}
.copiration{
    color: gray;
}
.contact-list{
    list-style: none;
    display: flex;
    justify-content: space-around;  
}
.contact-item{
    text-decoration: none;
    color: white;
}
.form{
    text-align: center;
    background-color: bisque;
    padding: 20px;
    margin: -20px -57px;
}
.name-email{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.kto{
    color: white;
}